:root {
    --mainColor: rgb(175, 175, 233);
}
.jumbotron {
    background-color: var(--mainColor);
    padding-bottom: 5px;
}
.row {
    padding-left: 3px;
}
#searchText {
    border-radius: 7px;
    border-color: gray;
}
#searchBtn {
    border: none;
    background-color: transparent;
    opacity: 80%;
}
.success {
    background-color: green;
}
.warning {
    background-color: yellow;
}
.danger {
    background-color: red;
}

.weather {
    display: none;
}
#currentIcon {
    min-width: 100px;
}
.days {
    border: 2px solid var(--mainColor);
}
.forcast {
    padding-left: 5px;
}
.search {
    padding-top: 3px;
}
.saveContain {
    padding-top: 3px;
}