:root {
    --mainColor: rgb(175, 175, 233);
}
.jumbotron {
    background-color: var(--mainColor);
    padding-bottom: 5px;
}
.row {
    padding-left: 3px;
}
#searchText {
    border-radius: 7px;
    border-color: gray;
}
#searchBtn {
    border: none;
    background-color: transparent;
    opacity: 80%;
}